body{
    position:static;
}

.borda{
    border: 1px solid black;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.div-1920x1080{
    font-size: 80px;
    width: 1920px;
    height: 1080px;
    position:relative;
    top : 0;
    left: 0;

}

.div-2560x1080{
    font-size: 80px;
    border: 1px solid black;
    width: 2560px;
    height: 1080px;
    position:absolute;
    top : 0;
    left: 0;
    
}

.div-3840x2160{
    font-size: 80px;
    border: 1px solid black;
    width: 3840px;
    height: 2160px;
    position:relative;
}