.wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

#container-cards {
    width: 90%;
    height: auto;
    max-width: 1000px;
    object-fit: cover;
    transition: .4s;
    aspect-ratio: 1 / 1;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

#container-cards img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border: 1px solid var(--vermelho); */
    transition: .4s;
    aspect-ratio: 1 / 1;
}

.cl-container-cards{
    opacity: 1;
}

.content {
    text-align: center;
    align-content: center;
    height: 10px;
}

.card {
    background: black;
    border: 1px solid var(--dourado);
    display: flex;
    flex-direction: column;
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* Imagem fixa */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 16px;
}

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    width: 100%;
}

/* Título com altura fixa */
.content h3 {
    margin: 0;
    font-size: 18px;
    min-height: 48px;
    display: flex;
    align-items: center;
    color: #000;
}

/* Preço com altura fixa */
.price {
    font-weight: bold;
    font-size: 18px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--dourado);
}

/* Descrição controlada */
.content p {
    margin: 0;
    font-size: 14px;
    color: var(--dourado);
    min-height: 40px;
    overflow: hidden;
}

.btn-consulte {
    background: var(--vermelho);
    border: none;
    padding: 5px 10px;
    color: var(--dourado);
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border-radius: 1px;
    font-weight: normal;
    opacity: 0.7;
}