
/* Menu com Flex */

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #111;
}

.logo {
  color: #fff;
  font-weight: bold;
}

.menu-flex {
  display: flex;
  gap: 24px;
}

.menu-flex a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
}

.menu-flex a:hover {
  text-decoration: underline;
}


img {
    height: auto;
    width: auto;
}
/* Mobile */
@media (max-width: 768px) {
  .header-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-flex {
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
  }
}

/* Menu com grid */

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 16px 24px;
  background: #222;
}

.menu-grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 24px;
}

.menu-grid a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
}

.menu-grid a:hover {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 768px) {
  .header-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .menu-grid {
    grid-auto-flow: row;
    justify-content: start;
    gap: 12px;
  }
}

/* Testes com Flex e Grid */

/* .conteiner-flex{
    display: flex;
} */

.conteudo-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* ou cover */
}

.conteiner-grid{
    display: grid;
}