html,
body {
  margin: 0;
  /* Remove margens padrão que os navegadores aplicam */
  padding: 0;
  /* Remove preenchimentos padrão */
  width: 100%;
  /* Garante que ocupe 100% da largura do elemento pai (viewport) */
  height: 100vh;
  /* Define a altura para 100% da altura da janela de visualização (viewport) */
  /* ou min-height: 100vh; para permitir que o conteúdo se expanda se for maior que a tela */
}

body {
  background: gray;
}

.dv-container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
  gap: 10px;
  background: yellow;
  flex-direction: row;

}

.cl-div1 {
  background: green;
  width: 100px;
  height: 100px;

}

.cl-div2 {
  background: white;
  width: 100px;
  height: 100px;
}

.cl-div3 {
  background: red;
  width: 100px;
  height: 100px;
}

@media (max-width: 728px) {

.dv-container-flex {
  background: blue;
  flex-direction: column;

}
}