/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
}

/* Container central */
.container {
  width: 90%;
  max-width: 800px;
}

/* Div da imagem */
.box-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 12px;
}

/* Imagem responsiva */
.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* cobre a div sem distorcer */
}
