body{
    margin: 0px;
}

.container-header{
    /* background: black; */
    background: linear-gradient(90deg, purple, white) ;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    top: 0px;
}

.container-azul{
    background: blue;
    height: 100vh;
    /* opacity: 0.5;  */
}

.container-amarelo{
    background: yellow;
    height: 100vh;
}

.container-vermelho{
    background: red;
    height: 100vh;
}

.container-branco{
    background: white;
    height: 100vh;
}

.container-laranja{
    background: orange;
    height: 100vh;
}

.container-verde{
    background: green;
    height: 100vh;
}

.container-roxo{
    background: purple;
    height: 100vh;
}

.container-preto{
    background: black;
    height: 100vh;
}

.btn-cores{
    width: 100px;
    height: 50px;
    /* background: blue; */
    border-radius: 10px; 
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    align-items: center;
}

.bck-color-azul{
    background: blue;
    color: white;
}

.bck-color-amarelo{
    background: yellow;
}

.bck-color-vermelho{
    background: red;
}

.bck-color-branco{
    background: white;
}

.bck-color-laranja{
    background: orange;
}

.bck-color-verde{
    background: green;
}

.bck-color-roxo{
    background: purple;
}

.bck-color-preto{
    background: black;
    color: white;
}