@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.ctn-timer {
  display: none;
  position: relative;
  flex-direction: column;
  background: black;
  width: 100vw;
  height: 100vh;
  color: yellow;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ctn-timer-top {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  border: white solid 1 px;
  background-color: gray;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ctn-corpo {
  position: fixed;
  top: 80px;
  /* height: 200%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-content: center;

  /* background: blue; */
}

.texto-tempo-execucao {
  border-bottom: white solid 1px;
  display: flex;
  position: relative;
  justify-content: center;
  box-sizing: border-box;

}

.valor-tempo-execucao {
  /* border: white solid 1px; */
  display: flex;
  width: 100%;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 300px;

  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.info-decorrido {
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: right;
  text-align: center;
  width: 100%;
  /* border: white solid 1px; */
}

.ctn-timer-program {
  /* background: orchid; */
  width: 350px;
  border: white solid 1px;
  box-sizing: border-box;
}

.tempos {
  display: flex;
  flex-direction: column;
  /* border: white solid 1px; */
  font-size: 20px;
  width: 50%;
  /* background: pink; */
  border-top: white solid 1px;
  border-left: white solid 1px;
}

.volta {
  /* border: white solid 1px; */
  font-size: 20px;
  width: 50%;
  /* background: burlywood; */
  border-top: white solid 1px;
}

.botoes-controle {
  border: white solid 1px;
  /* display: flex; */
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.botoes-controle button {
  width: 120px;
  height: 50px;
}

.btn-fechar-timer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border: white solid 1 px;
  width: 100%;
  background: red;
  color: white;
  bottom: 0px;
  left: 0px;
  height: 60px;
}

.ctn-gAds {
  width: 100%;
  height: 60px;
}

fieldset {
  color: yellow;
}
