.ctn-timer {
  display: none;
  position: relative;
  flex-direction: column;
  background: black;
  width: 100vw;
  height: 100vh;
  color: yellow;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.ctn-timer-top {
  display: flex;
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  border: white solid 1 px;
  background-color: gray;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ctn-corpo {
  position: fixed;
  top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tempo-execucao {
  border: white solid 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.texto-tempo-execucao {
  border: white solid 1px;
  display: flex;
  position: relative;
  justify-content: center;
}

.valor-tempo-execucao {
  border: white solid 1px;
  display: flex;
  width: 100%;
  font-size: 250px;
  align-items: center;
  justify-content: center;
}

.info-decorrido {
  display: flex;
  flex-direction: colum;
  justify-content: center;
  align-items: right;
  text-align: center;
  width: 100%;
  border: white solid 1px;
}

.tempos {
  display: flex;
  flex-direction: column;
  /* border: white solid 1px; */
  font-size: 20px;
  width: 50%;
}

.volta {
  /* border: white solid 1px; */
  font-size: 20px;
  width: 50%;
}

.botoes-controle {
  border: white solid 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.botoes-controle button {
  width: 120px;
  height: 50px;
}

.btn-fechar-timer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  border: white solid 1 px;
  width: 100%;
  background: red;
  color: white;
  bottom: 10px;
}

.ctn-gAds {
  width: 100%;
  height: 60px;
}

fieldset{
  color: yellow;
}