body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    background: black;
}

.ctn-principal 
div{
    border-radius: 8px;
    
}

.arrumaTxtBox{
    margin: 0px;
    width: 100px;
    height: 60px;
    background: inherit;
    font-size: 40px;
    border: none;
    text-align: center;
    outline: none;
    color: white;
}

.arrumaDivInputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

h1 {
    padding: 0px;
    margin: 0px;
    color: white;
    font-weight:lighter;
}

.ctn-principal{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    align-content: center;

}

.ctn-header{
    background: blue;
    padding: 30px;
    flex-grow: 1;
   
}

.ctn-preparacao{
    /* border: 2px solid black; */
    background: orange;
    flex-grow: 1;
    
}

.ctn-exercicio{
    /* border: 2px solid black; */
    background: red;
    flex-grow: 1;
}

.ctn-descanso{
    /* border: 2px solid black; */
    background: green;
    flex-grow: 1;
}

.ctn-repeticoes{
    /* border: 2px solid black; */
    background: blue;
    flex-grow: 1;
}

.ctn-iniciar{
    /* border: 2px solid black; */
    background: black;
    flex-grow: 1;
    align-items: center;
}

.cl-centralizar-conteudo{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.ctn-bottom{
    /* border: 2px solid black; */
    background: white;
    flex-grow: 1;
    border-radius: 5px;
    
}

.btn-iniciar{
    width: 80vw;
    height: 80%;
    background-color: green;
    color:white;
    font-size: 30px;
    border-radius: 5px;  
}

.ctn-define-tabata{
    position: absolute;
    color: white;
    margin: 30px;
   /*  display: none; */
    display: none;

}

a {
    color: gray;
    text-decoration:none;
}

.ctn-define-tabata {
    animation: open-left 1s ease-in-out;
  }

