@media only screen and (max-width: 768px){
    
    .container-center{

        display: none;

    }

    .container-center-reduzido{

        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-around;  
    }
}